<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="salary">
            <h2><span jhiTranslate="mySchoolApp.salary.detail.title">Salary</span> {{salary.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mySchoolApp.salary.amount">Amount</span></dt>
                <dd>
                    <span>{{salary.amount}}</span>
                </dd>
                <dt><span jhiTranslate="mySchoolApp.salary.paymentDate">Payment Date</span></dt>
                <dd>
                    <span>{{salary.paymentDate}}</span>
                </dd>
                <dt><span jhiTranslate="mySchoolApp.salary.createdAt">Created At</span></dt>
                <dd>
                    <span>{{salary.createdAt}}</span>
                </dd>
                <dt><span jhiTranslate="mySchoolApp.salary.memo">Memo</span></dt>
                <dd>
                    <span>{{salary.memo}}</span>
                </dd>
                <dt><span jhiTranslate="mySchoolApp.salary.employee">Employee</span></dt>
                <dd>
                    <div *ngIf="salary.employeeId">
                        <a [routerLink]="['/employee', salary.employeeId, 'view']">{{salary.employeeId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/salary', salary.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
