<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="classSessionType">
            <h2><span jhiTranslate="mySchoolApp.classSessionType.detail.title">Class Session Type</span> {{classSessionType.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mySchoolApp.classSessionType.name">Name</span></dt>
                <dd>
                    <span>{{classSessionType.name}}</span>
                </dd>
                <dt><span jhiTranslate="mySchoolApp.classSessionType.description">Description</span></dt>
                <dd>
                    <span>{{classSessionType.description}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/class-session-type', classSessionType.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
