<div>
    <h2 id="page-heading">
        <span jhiTranslate="mySchoolApp.enrolment.home.title">Enrolments</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-enrolment" [routerLink]="['/enrolment/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="mySchoolApp.enrolment.home.createLabel">
            Create new Enrolment
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'mySchoolApp.enrolment.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="enrolments">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="enrolmentDate"><span jhiTranslate="mySchoolApp.enrolment.enrolmentDate">Enrolment Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="regimenRate"><span jhiTranslate="mySchoolApp.enrolment.regimenRate">Regimen Rate</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="repeating"><span jhiTranslate="mySchoolApp.enrolment.repeating">Repeating</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modernLanguage1"><span jhiTranslate="mySchoolApp.enrolment.modernLanguage1">Modern Language 1</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modernLanguage2"><span jhiTranslate="mySchoolApp.enrolment.modernLanguage2">Modern Language 2</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="exemption"><span jhiTranslate="mySchoolApp.enrolment.exemption">Exemption</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="withInsurance"><span jhiTranslate="mySchoolApp.enrolment.withInsurance">With Insurance</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="schoolYearId"><span jhiTranslate="mySchoolApp.enrolment.schoolYear">School Year</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="actorId"><span jhiTranslate="mySchoolApp.enrolment.actor">Actor</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="classRoomId"><span jhiTranslate="mySchoolApp.enrolment.classRoom">Class Room</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="regimenId"><span jhiTranslate="mySchoolApp.enrolment.regimen">Regimen</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="previousSchoolId"><span jhiTranslate="mySchoolApp.enrolment.previousSchool">Previous School</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="previousClassId"><span jhiTranslate="mySchoolApp.enrolment.previousClass">Previous Class</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let enrolment of enrolments ;trackBy: trackId">
                <td><a [routerLink]="['/enrolment', enrolment.id, 'view' ]">{{enrolment.id}}</a></td>
                <td>{{enrolment.enrolmentDate | date:'mediumDate'}}</td>
                <td>{{enrolment.regimenRate}}</td>
                <td>{{enrolment.repeating}}</td>
                <td>{{enrolment.modernLanguage1}}</td>
                <td>{{enrolment.modernLanguage2}}</td>
                <td>{{enrolment.exemption}}</td>
                <td>{{enrolment.withInsurance}}</td>
                <td>
                    <div *ngIf="enrolment.schoolYearId">
                        <a [routerLink]="['../school-year', enrolment.schoolYearId , 'view' ]" >{{enrolment.schoolYearId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="enrolment.actorId">
                        <a [routerLink]="['../actor', enrolment.actorId , 'view' ]" >{{enrolment.actorId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="enrolment.classRoomId">
                        <a [routerLink]="['../class-room', enrolment.classRoomId , 'view' ]" >{{enrolment.classRoomId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="enrolment.regimenId">
                        <a [routerLink]="['../regimen', enrolment.regimenId , 'view' ]" >{{enrolment.regimenId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="enrolment.previousSchoolId">
                        <a [routerLink]="['../school', enrolment.previousSchoolId , 'view' ]" >{{enrolment.previousSchoolId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="enrolment.previousClassId">
                        <a [routerLink]="['../class-room', enrolment.previousClassId , 'view' ]" >{{enrolment.previousClassId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/enrolment', enrolment.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/enrolment', enrolment.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'enrolment', { outlets: { popup: enrolment.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="enrolments && enrolments.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
