<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-enrolment-heading" jhiTranslate="mySchoolApp.enrolment.home.createOrEditLabel">Create or edit a Enrolment</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!enrolment.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="enrolment.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mySchoolApp.enrolment.enrolmentDate" for="field_enrolmentDate">Enrolment Date</label>
                    <div class="input-group">
                        <input id="field_enrolmentDate" type="text" class="form-control" name="enrolmentDate" ngbDatepicker  #enrolmentDateDp="ngbDatepicker" [(ngModel)]="enrolment.enrolmentDate"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="enrolmentDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.enrolmentDate?.dirty && editForm.controls.enrolmentDate?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.enrolmentDate?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mySchoolApp.enrolment.regimenRate" for="field_regimenRate">Regimen Rate</label>
                    <input type="number" class="form-control" name="regimenRate" id="field_regimenRate"
                        [(ngModel)]="enrolment.regimenRate" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mySchoolApp.enrolment.repeating" for="field_repeating">Repeating</label>
                    <input type="checkbox" class="form-control" name="repeating" id="field_repeating"
                        [(ngModel)]="enrolment.repeating" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mySchoolApp.enrolment.modernLanguage1" for="field_modernLanguage1">Modern Language 1</label>
                    <input type="text" class="form-control" name="modernLanguage1" id="field_modernLanguage1"
                        [(ngModel)]="enrolment.modernLanguage1" required/>
                    <div [hidden]="!(editForm.controls.modernLanguage1?.dirty && editForm.controls.modernLanguage1?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.modernLanguage1?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mySchoolApp.enrolment.modernLanguage2" for="field_modernLanguage2">Modern Language 2</label>
                    <input type="text" class="form-control" name="modernLanguage2" id="field_modernLanguage2"
                        [(ngModel)]="enrolment.modernLanguage2" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mySchoolApp.enrolment.exemption" for="field_exemption">Exemption</label>
                    <input type="checkbox" class="form-control" name="exemption" id="field_exemption"
                        [(ngModel)]="enrolment.exemption" />
                    <div [hidden]="!(editForm.controls.exemption?.dirty && editForm.controls.exemption?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.exemption?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mySchoolApp.enrolment.withInsurance" for="field_withInsurance">With Insurance</label>
                    <input type="checkbox" class="form-control" name="withInsurance" id="field_withInsurance"
                        [(ngModel)]="enrolment.withInsurance" />
                    <div [hidden]="!(editForm.controls.withInsurance?.dirty && editForm.controls.withInsurance?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.withInsurance?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mySchoolApp.enrolment.schoolYear" for="field_schoolYear">School Year</label>
                    <select class="form-control" id="field_schoolYear" name="schoolYear" [(ngModel)]="enrolment.schoolYearId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="schoolYearOption.id" *ngFor="let schoolYearOption of schoolyears; trackBy: trackSchoolYearById">{{schoolYearOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mySchoolApp.enrolment.actor" for="field_actor">Actor</label>
                    <select class="form-control" id="field_actor" name="actor" [(ngModel)]="enrolment.actorId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="actorOption.id" *ngFor="let actorOption of actors; trackBy: trackActorById">{{actorOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mySchoolApp.enrolment.classRoom" for="field_classRoom">Class Room</label>
                    <select class="form-control" id="field_classRoom" name="classRoom" [(ngModel)]="enrolment.classRoomId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="classRoomOption.id" *ngFor="let classRoomOption of classrooms; trackBy: trackClassRoomById">{{classRoomOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mySchoolApp.enrolment.regimen" for="field_regimen">Regimen</label>
                    <select class="form-control" id="field_regimen" name="regimen" [(ngModel)]="enrolment.regimenId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="regimenOption.id" *ngFor="let regimenOption of regimen; trackBy: trackRegimenById">{{regimenOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mySchoolApp.enrolment.previousSchool" for="field_previousSchool">Previous School</label>
                    <select class="form-control" id="field_previousSchool" name="previousSchool" [(ngModel)]="enrolment.previousSchoolId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="schoolOption.id" *ngFor="let schoolOption of schools; trackBy: trackSchoolById">{{schoolOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mySchoolApp.enrolment.previousClass" for="field_previousClass">Previous Class</label>
                    <select class="form-control" id="field_previousClass" name="previousClass" [(ngModel)]="enrolment.previousClassId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="classRoomOption.id" *ngFor="let classRoomOption of classrooms; trackBy: trackClassRoomById">{{classRoomOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
