<div>
    <h2 id="page-heading">
        <span jhiTranslate="mySchoolApp.image.home.title">Images</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-image" [routerLink]="['/image/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="mySchoolApp.image.home.createLabel">
            Create new Image
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'mySchoolApp.image.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="images">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="content"><span jhiTranslate="mySchoolApp.image.content">Content</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="mySchoolApp.image.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="format"><span jhiTranslate="mySchoolApp.image.format">Format</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="imageSize"><span jhiTranslate="mySchoolApp.image.imageSize">Image Size</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isUsed"><span jhiTranslate="mySchoolApp.image.isUsed">Is Used</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="actorId"><span jhiTranslate="mySchoolApp.image.actor">Actor</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let image of images ;trackBy: trackId">
                <td><a [routerLink]="['/image', image.id, 'view' ]">{{image.id}}</a></td>
                <td>
                    <a *ngIf="image.content" (click)="openFile(image.contentContentType, image.content)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="image.content">{{image.contentContentType}}, {{byteSize(image.content)}}</span>
                </td>
                <td>{{image.name}}</td>
                <td>{{image.format}}</td>
                <td>{{image.imageSize}}</td>
                <td>{{image.isUsed}}</td>
                <td>
                    <div *ngIf="image.actorId">
                        <a [routerLink]="['../actor', image.actorId , 'view' ]" >{{image.actorId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/image', image.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/image', image.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'image', { outlets: { popup: image.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="images && images.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
