<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-employee-heading" jhiTranslate="mySchoolApp.employee.home.createOrEditLabel">Create or edit a Employee</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!employee.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="employee.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mySchoolApp.employee.hiringDate" for="field_hiringDate">Hiring Date</label>
                    <div class="input-group">
                        <input id="field_hiringDate" type="text" class="form-control" name="hiringDate" ngbDatepicker  #hiringDateDp="ngbDatepicker" [(ngModel)]="employee.hiringDate"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="hiringDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.hiringDate?.dirty && editForm.controls.hiringDate?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.hiringDate?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mySchoolApp.employee.employmentStartDate" for="field_employmentStartDate">Employment Start Date</label>
                    <div class="input-group">
                        <input id="field_employmentStartDate" type="text" class="form-control" name="employmentStartDate" ngbDatepicker  #employmentStartDateDp="ngbDatepicker" [(ngModel)]="employee.employmentStartDate"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="employmentStartDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.employmentStartDate?.dirty && editForm.controls.employmentStartDate?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.employmentStartDate?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mySchoolApp.employee.actor" for="field_actor">Actor</label>
                    <select class="form-control" id="field_actor" name="actor" [(ngModel)]="employee.actorId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="actorOption.id" *ngFor="let actorOption of actors; trackBy: trackActorById">{{actorOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
