<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="employee">
            <h2><span jhiTranslate="mySchoolApp.employee.detail.title">Employee</span> {{employee.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mySchoolApp.employee.hiringDate">Hiring Date</span></dt>
                <dd>
                    <span>{{employee.hiringDate}}</span>
                </dd>
                <dt><span jhiTranslate="mySchoolApp.employee.employmentStartDate">Employment Start Date</span></dt>
                <dd>
                    <span>{{employee.employmentStartDate}}</span>
                </dd>
                <dt><span jhiTranslate="mySchoolApp.employee.actor">Actor</span></dt>
                <dd>
                    <div *ngIf="employee.actorId">
                        <a [routerLink]="['/actor', employee.actorId, 'view']">{{employee.actorId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/employee', employee.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
