<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-rubric-amount-heading" jhiTranslate="mySchoolApp.rubricAmount.home.createOrEditLabel">Create or edit a Rubric Amount</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!rubricAmount.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="rubricAmount.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mySchoolApp.rubricAmount.amount" for="field_amount">Amount</label>
                    <input type="number" class="form-control" name="amount" id="field_amount"
                        [(ngModel)]="rubricAmount.amount" required/>
                    <div [hidden]="!(editForm.controls.amount?.dirty && editForm.controls.amount?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.amount?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.amount?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mySchoolApp.rubricAmount.paymentMethod" for="field_paymentMethod">Payment Method</label>
                    <input type="text" class="form-control" name="paymentMethod" id="field_paymentMethod"
                        [(ngModel)]="rubricAmount.paymentMethod" required/>
                    <div [hidden]="!(editForm.controls.paymentMethod?.dirty && editForm.controls.paymentMethod?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.paymentMethod?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mySchoolApp.rubricAmount.rubric" for="field_rubric">Rubric</label>
                    <select class="form-control" id="field_rubric" name="rubric" [(ngModel)]="rubricAmount.rubricId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="rubricOption.id" *ngFor="let rubricOption of rubrics; trackBy: trackRubricById">{{rubricOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mySchoolApp.rubricAmount.level" for="field_level">Level</label>
                    <select class="form-control" id="field_level" name="level" [(ngModel)]="rubricAmount.levelId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="levelOption.id" *ngFor="let levelOption of levels; trackBy: trackLevelById">{{levelOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mySchoolApp.rubricAmount.schoolYear" for="field_schoolYear">School Year</label>
                    <select class="form-control" id="field_schoolYear" name="schoolYear" [(ngModel)]="rubricAmount.schoolYearId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="schoolYearOption.id" *ngFor="let schoolYearOption of schoolyears; trackBy: trackSchoolYearById">{{schoolYearOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
