<div>
    <h2 id="page-heading">
        <span jhiTranslate="mySchoolApp.askingPermission.home.title">Asking Permissions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-asking-permission" [routerLink]="['/asking-permission/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="mySchoolApp.askingPermission.home.createLabel">
            Create new Asking Permission
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'mySchoolApp.askingPermission.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="askingPermissions">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="askingDate"><span jhiTranslate="mySchoolApp.askingPermission.askingDate">Asking Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="numberOfDay"><span jhiTranslate="mySchoolApp.askingPermission.numberOfDay">Number Of Day</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="reason"><span jhiTranslate="mySchoolApp.askingPermission.reason">Reason</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="schoolSchoolYearId"><span jhiTranslate="mySchoolApp.askingPermission.schoolSchoolYear">School School Year</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="studentId"><span jhiTranslate="mySchoolApp.askingPermission.student">Student</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let askingPermission of askingPermissions ;trackBy: trackId">
                <td><a [routerLink]="['/asking-permission', askingPermission.id, 'view' ]">{{askingPermission.id}}</a></td>
                <td>{{askingPermission.askingDate | date:'mediumDate'}}</td>
                <td>{{askingPermission.numberOfDay}}</td>
                <td>{{askingPermission.reason}}</td>
                <td>
                    <div *ngIf="askingPermission.schoolSchoolYearId">
                        <a [routerLink]="['../school-school-year', askingPermission.schoolSchoolYearId , 'view' ]" >{{askingPermission.schoolSchoolYearId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="askingPermission.studentId">
                        <a [routerLink]="['../student', askingPermission.studentId , 'view' ]" >{{askingPermission.studentId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/asking-permission', askingPermission.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/asking-permission', askingPermission.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'asking-permission', { outlets: { popup: askingPermission.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="askingPermissions && askingPermissions.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
