<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="permissionAgreement">
            <h2><span jhiTranslate="mySchoolApp.permissionAgreement.detail.title">Permission Agreement</span> {{permissionAgreement.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mySchoolApp.permissionAgreement.permissionAllowed">Permission Allowed</span></dt>
                <dd>
                    <span>{{permissionAgreement.permissionAllowed}}</span>
                </dd>
                <dt><span jhiTranslate="mySchoolApp.permissionAgreement.allowanceDate">Allowance Date</span></dt>
                <dd>
                    <span>{{permissionAgreement.allowanceDate}}</span>
                </dd>
                <dt><span jhiTranslate="mySchoolApp.permissionAgreement.permissionStartDate">Permission Start Date</span></dt>
                <dd>
                    <span>{{permissionAgreement.permissionStartDate}}</span>
                </dd>
                <dt><span jhiTranslate="mySchoolApp.permissionAgreement.permissionEndDate">Permission End Date</span></dt>
                <dd>
                    <span>{{permissionAgreement.permissionEndDate}}</span>
                </dd>
                <dt><span jhiTranslate="mySchoolApp.permissionAgreement.returnDate">Return Date</span></dt>
                <dd>
                    <span>{{permissionAgreement.returnDate}}</span>
                </dd>
                <dt><span jhiTranslate="mySchoolApp.permissionAgreement.effectiveReturnDate">Effective Return Date</span></dt>
                <dd>
                    <span>{{permissionAgreement.effectiveReturnDate}}</span>
                </dd>
                <dt><span jhiTranslate="mySchoolApp.permissionAgreement.memo">Memo</span></dt>
                <dd>
                    <span>{{permissionAgreement.memo}}</span>
                </dd>
                <dt><span jhiTranslate="mySchoolApp.permissionAgreement.askingPermission">Asking Permission</span></dt>
                <dd>
                    <div *ngIf="permissionAgreement.askingPermissionId">
                        <a [routerLink]="['/asking-permission', permissionAgreement.askingPermissionId, 'view']">{{permissionAgreement.askingPermissionId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/permission-agreement', permissionAgreement.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
